<ion-header>
  <ion-toolbar>
    <ion-title>Equipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Integrantes da Equipe</ion-label>
    </ion-list-header>

   
    <ion-item>
      <ion-label>
        <h2>Jean Ricardo França da Silva</h2>
        <p>Matrícula: 01583760</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Pedro de Melo Albuquerque</h2>
        <p>Matrícula: 01608588</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Paulo Vinícius Feliciano de Souza</h2>
        <p>Matrícula: 01618133</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Lucas Maia Sivini</h2>
        <p>Matrícula: 01616874</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Bruno Lourenço Bezerra</h2>
        <p>Matrícula: 01606518</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Lucas Araújo da Silva</h2>
        <p>Matrícula: 01589449</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
